@model MarketPlace.WebUI.Models.Complaint

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Complaint</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sender.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sender.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Violator.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Violator.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isProcessed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isProcessed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ComplaintId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
