@model MarketPlace.WebUI.Models.Auction
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Подробности";
}

<h4>Подробности</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Title)</dt>
        <dd>@Html.DisplayFor(model => model.Title)</dd>

        <dt><label>Изображение</label></dt>
        <dd>
            @if (Model.PicturePath == null)
            {
                <img class="img-thumbnail" width="225" height="225"
                     src="@Url.Content("~/Files/no_photo.png")" />
            }
            else
            {
                <img class="img-thumbnail" width="400" height="300"
                     src="@Url.Content(Model.PicturePath)" />
            }
        </dd>

        <dt>@Html.DisplayNameFor(model => model.Category.Title)</dt>
        <dd>@Html.DisplayFor(model => model.Category.Title)</dd>

        <dt>Владелец</dt>
        <dd>@Html.ActionLink(Model.User.UserName, "Users", "Account", new { userName=Model.User.UserName }, null)</dd>

        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>

        <dt>@Html.DisplayNameFor(model => model.Price)</dt>
        <dd>@Html.DisplayFor(model => model.Price) @ViewBag.Currency</dd>

        <dt>@Html.DisplayNameFor(model => model.Information)</dt>
        <dd>@Html.DisplayFor(model => model.Information)</dd>

        <dt>@Html.DisplayNameFor(model => model.CreationDate)</dt>
        <dd>@Html.DisplayFor(model => model.CreationDate)</dd>
        <dt> @Html.DisplayNameFor(model => model.FinishDate)</dt>
        <dd>@Html.DisplayFor(model => model.FinishDate)</dd>

    </dl>
</div>
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        @if (User.Identity.Name == Model.User.UserName)
        {
            if (Model.FinishDate > DateTime.Now)
            {
            @Html.ActionLink("Остановить", "Finish", new { id = Model.AuctionId }, new { @class = "btn btn-default" })
            }
            else { <p>Аукцион завершен</p> }
            if (Model.Bids.Count == 0)
            {
                @Html.ActionLink("Редактировать", "Edit", new { id = Model.AuctionId }, new { @class = "btn btn-default" })
            }
        }
        else
        {
            using (Html.BeginForm("Create", "Bid", FormMethod.Post, new { @class = "form-inline", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.Hidden("AuctionId", @Model.AuctionId)
                    @Html.Hidden("UserId", User.Identity.GetUserId())
                    @Html.TextBox("Amount", null, new { @class = "form-control", placeholder = "Размер ставки" })
                    <input type="submit" name="Ставка!" class="btn btn-default" />
                    <label>@ViewBag.BidError</label>
                </div>
            }
        }

        <table class="table">
            <thead>
                <tr>
                    <th>@Html.Label("Время")</th>
                    <th>@Html.Label("Сумма")</th>
                    <th>@Html.Label("Пользователь")</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.Bids)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Time)</td>
                        <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                        <td>@Html.DisplayFor(modelItem => item.User.UserName)</td>
                        <td>@if (item.IsFinalBid) { <p>Победитель</p> }</td>

                </tr>
                }
            </tbody>



        </table>

        


    </div>



</div>


