@model MarketPlace.WebUI.Models.Auction

@{
    ViewBag.Title = "Остановка аукциона";
}

<h2>Остановка</h2>

<h3>Вы действительно хотите прервать аукцион?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinishDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            @Html.ActionLink("Обратно", "Details", new { id = Model.AuctionId }, new { @class = "btn btn-default" })
        </div>
    }
</div>
