@model MarketPlace.WebUI.Models.ViewModels.AuctionListViewModel
@using MarketPlace.WebUI.Helpers

@{
    ViewBag.Title = "Аукционы";
}

<br />


<div class="row">
    @using (Html.BeginForm("List", "Auction", FormMethod.Post, new { @class = "form-inline", role = "form" }))
    {
        <div class="form-group">
            @Html.TextBox("search", ViewBag.Search as String,
                new { @class = "form-control", placeholder = "Поиск" })

            <input type="hidden" id="auctionOwner" name="user" value="@ViewBag.User">
            <label class="control-label">Категория: </label>
            @Html.DropDownList("category", Model.Categories as SelectList,
                     htmlAttributes: new { @class = "form-control" })

            <input type="submit" value="Поиск" class="btn btn-default" />
            @if ((ViewBag.User as string) != "" && (ViewBag.User as string) == User.Identity.Name)
            {
                @Html.ActionLink("Создать новый аукцион", "Create", null, new { @class = "btn btn-default" })
            }
        </div>
    }

    
</div>

@if (Model.Auctions.Any())
{
<div class="row">
    <table class="table">
        <tr>
            <th>Название</th>
            <th>Категория</th>
            <th>Описание</th>
            <th>Цена</th>
            <th>Заканчивается</th>
            <th></th>
        </tr>

        @foreach (var item in Model.Auctions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Title)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)

                </td>
                <td>
                    @item.FinishDate.ToString()
                </td>
                <td>
                    @Html.ActionLink("Подробнее", "Details", new { id = item.AuctionId })
                </td>
            </tr>
        }

    </table>
</div>

<div class="btn-group">
    @Html.PageLinks(Model.PageInfo,
            x => Url.Action("List", new { user = ViewBag.User, category = ViewBag.Category, search = ViewBag.Search, page = x }))
</div>
}
else { <br /> <p class="text-center">Список пуст</p> }
