@model MarketPlace.WebUI.Models.ApplicationUser

<div class="row">
    <div class="col-sm-6">
        <p>
            Просмотрите текущие аукционы пользователя @Html.DisplayFor(model => model.UserName)
            чтобы найти интересующий вас лот
        <p>
        <p>@Html.ActionLink("Перейти", "List", "Auction", new { user = Model.UserName }, null)</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <p>
            Перед сотрудничеством с пользователем @Html.DisplayFor(model => model.UserName)
            рекомендуем прочесть отзывы о нем от других пользователей или напишите собственный отзыв
        </p>
        <p>@Html.ActionLink("Перейти", "List", "Feedback", new { userName = Model.UserName }, null)</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        @if (User.IsInRole("Admin"))
        {
            <p>@Html.ActionLink("Заблокировать пользователя", "EditUserBand", "Account", new { userName = Model.UserName }, null)</p>
        }
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        @if (User.IsInRole("Admin"))
        {
            <p>@Html.ActionLink("Показать все жалобы на пользователя", "List", "Complaint", new { userName = Model.UserName }, null)</p>
        }
    </div>
</div>
