@model IEnumerable<MarketPlace.WebUI.Models.ViewModels.UserViewModel>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.UserName)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Sname)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
            <th>@Html.DisplayNameFor(model => model.IsBanned)</th>
            <th>@Html.DisplayNameFor(model => model.TopRole)</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Sname)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                <td>
                    @if (item.IsBanned)
                { <p>Бан</p> }
                else
                { <p>-</p> }
            </td>
            <td>@item.TopRole</td>
            <td>
                @if(@item.TopRole == "User") { @Html.ActionLink("Повысить", "EditUserRole", new { id = item.Id }, new { @class = "btn btn-primary" }) }
                else { @Html.ActionLink("Понизить", "EditUserRole", new { id = item.Id }, new { @class = "btn btn-primary" }) }
            </td>
            <td>
                @if(@item.IsBanned) { @Html.ActionLink("Снять бан", "EditUserBan", new { id = item.Id }, new { @class = "btn btn-primary" }) }
                else { @Html.ActionLink("Бан", "EditUserBan", new { id = item.Id }, new { @class = "btn btn-primary" }) }
            </td>
        </tr>
        }
    </tbody>



</table>
