@model MarketPlace.WebUI.Models.ViewModels.UsersListViewModel
@using MarketPlace.WebUI.Helpers

@{
    ViewBag.Title = "Управление пользователями";
}

<h2>Управление пользователями</h2>


<form method="get">
    <div>

        @Html.TextBox("search", ViewBag.Search as String, new { @class = "form-control", placeholder = "Поиск" })
        <br />
        <label for="admins">Администраторы</label>
        <input id="admins" name="admins" type="checkbox" value="true" checked="@ViewBag.Admins" />
        <input name="admins" type="hidden" value="false" />
        <br />
        <label for="banned">Забаненные</label>
        <input id="banned" name="banned" type="checkbox" value="true" checked="@ViewBag.Banned" />
        <input name="banned" type="hidden" value="false" />
        <br />

        <input type="submit" value="Поиск" class="btn btn-default" />
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Ник</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Почта</th>

                    <th>Бан</th>
                    <th>Роль</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.Users)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Sname)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>

                        <td>
                            @if (item.IsBanned)
                            { <p>Бан</p> }
                            else
                            { <p>-</p> }
                        </td>
                        <td>@(item.TopRole as String)</td>
                        <td>

                            @if (@item.IsBanned)
                            { @Html.ActionLink("Снять бан", "EditUserBan", new { userName = item.UserName }, new { @class = "btn btn-primary" }) }
                            else
                            { 
                                @Html.ActionLink("Бан", "EditUserBan", new { userName = item.UserName }, new { @class = "btn btn-primary" })
                                if (@item.TopRole == "Пользователь")
                                { @Html.ActionLink("Повысить", "EditUserRole", new { userName = item.UserName }, new { @class = "btn btn-primary" }) }
                                else
                                { @Html.ActionLink("Понизить", "EditUserRole", new { userName = item.UserName }, new { @class = "btn btn-primary" }) }

                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="btn-group">
    @Html.PageLinks(Model.PageInfo,
    x => Url.Action("List", new { search = ViewBag.Search, role = ViewBag.Role, page = x }))
</div>


